#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
}

#footer p {
  text-align: center;
  align-items: center;
}

#footer a {
  text-align: center;
  align-items: center;
}
