.navBar{

	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	position: relative;
}

.logo {
	

}

.logo:hover{
	opacity: 0.5;
}


.barre-recherche:hover {
	opacity: 0.5;
}
.btn-login:hover{
	opacity: 0.5;
}